body{
margin: 0;
padding: 0;
}
.navbar {
    color: whitesmoke;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}
a {
    text-decoration: none;
    color: white;
}
.buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 16px;
    padding: 10px;
  }
  
  .bi-dash-lg {
    color: red;
  }
  
  .bi-plus-lg {
    color: green;
  }

  .text-center {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .HomeBtn,
  .checkout,
  .removeAll {
    background-color: #212529;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .checkout {
    background-color: green;
  }
  .removeAll {
    background-color: red;
  }
  .bi-x-lg {
    color: red;
    font-weight: bold;
  }
  .cart-item {
    border: 2px solid #212529;
    border-radius: 5px;
    display: flex;
  }
  
  .title-price-x {
    width: 195px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid red; */
  }
  
  .title-price {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .cart-item-price {
    background-color: #212529;
    color: white;
    border-radius: 4px;
    padding: 3px 6px;
  }  