
.dynamic-tabs {
  cursor: pointer;
}
.style-chooser .vs__search::placeholder,
.style-chooser .vs__dropdown-toggle,
.style-chooser .vs__dropdown-menu {
  color: black;
  font-size: 14px;
}
.style-chooser .vs__open-indicator {
  fill: black;
  transform: scale(0.65);
}

.font-brown {
  font-family: Brown !important;
}

.bg-slate-primary {
  /* background-color: #2c3e50; */
  background-color: $COLOR_THREE;
  /* color: white */
}

.btn-slate-lg {
  padding: 18px 36px;
}

/* nuxt transiton classes */

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s ease;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}

.slide-bottom-enter-active,
.slide-bottom-leave-active {
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}
.slide-bottom-enter,
.slide-bottom-leave-to {
  opacity: 0;
  transform: translate3d(0, 15px, 0);
}

/* ends here  */
* {
  /* font-size: 0.95rem; */

  /* transition: all 0.8s ease-in-out; */
}

.main_container {
  /* margin-left: calc( var(--sidebar-width)); */
  height: 100vh;
}
.text-white {
  color: white;
}
.text-grey {
  color: #8f9aa3;
}
.badge_icon {
  font-size: 13px;
  padding: 0.25rem 0.5rem;
  line-height: 100%;
  word-wrap: break-word;
  text-align: center;
  border: 1px solid;
  border-radius: 4px;
}

.btn {
  text-transform: capitalize !important;
}
/* Custom  VuePrime Accordarn component */
.p-accordion-header-link,
.p-accordion-content {
  border: none !important;
}

/** end here */
.font-moseo {
  font-family: 'Museo Sans', Arial, Helvetica, sans-serif;
}

/* Presentation Mode */
/* with  b-modal presentation  */
#presentation > .modal-dialog {
  height: 100% !important;
  margin: 0px !important;
  width: 100% !important;
}

#presentation > .modal-content {
  /* height: 100% !important; */
  /* margin: 0px !important; */
  height: 100vh !important;
  width: 100% !important;
}

#presentation___BV_modal_content_ {
  width: 100vw;
  height: 100vh;
}
/* .modal-dialog {
  margin: 0px !important;
} */

@media (min-width: 576px) {
  #presentation > .modal-dialog {
    max-width: 100vw !important;
  }
}

@media (min-width: 576px) {
  #presentation___BV_modal_content_.modal-content {
    max-height: 100vh;
  }
}
/* Presentation Mode */
