.p-tooltip-text {
  font-weight: lighter !important;
  color: red !important;
}

.p-tooltip {
  font-weight: lighter !important;
  color: red !important;

}
/* 
.v-popper--theme-info-tooltip {
  .v-popper__inner {
    background: purple !important;
  }

  .v-popper__arrow-inner {
    border-color: #004499;
  }
}


.v-popper--theme-tooltip .v-popper__popper--shown {
  visibility: visible;
  opacity: 1;
  transition: opacity .15s;
  color: red !important;
  background: purple !important;
} */



.v-popper__inner {
  font-family: "Roboto", sans-serif !important;
  font-weight: lighter !important;
  font-size: 15px !important;
}